@import 'bootstrap';


// VARIABLES


$mvgreen: #00C79C;
$bold: ProximaNovaBold;


//GENERAL

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/proxima_nova_soft_regular-webfont.ttf);
}
@font-face {
    font-family: ProximaNovaBold;
    src: url(../fonts/proxima_nova_soft_bold-webfont.ttf);
    font-weight: bold;
}

section,{
 font-family: ProximaNova;
}

.titleSection, .gallery {
  font-family: $bold;
}

// NAVBAR

nav.navbar.navbar-inverse.navbar-fixed-top {
  border-bottom: 0;
  min-height: 70px;
  position: relative;
  background-color: #243341;
}

#navbar {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: $mvgreen;
  border-left: 1px #1B4C50 solid;
  height: 70px;
  padding: 25px 40px;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #03B18B;
}

// TITLE SECTION

.titleSection {
  margin: 30px 0;
  h1 {
    margin-top: 10px;
    margin-bottom: 0;
    sup {
      font-size: 60%;
    }
  }
}

// GALLERY

.gallery.container {
  margin: 30px auto 20px auto;
}

.carousel-indicators{
  li {
    border: 0;
    background: rgba(0,0,0,0.3);
  }
  .active {
    background-color: #047FCE;
  }
}

.carousel span.glyphicon {
    font-size: 40px;
    color: rgba(0, 126, 206, 1);
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
}

.carousel-control.left, .carousel-control.right {
  background: none;
}
.carousel-control .icon-next, .carousel-control .glyphicon-menu-right {
    right: 50%;
    margin-right: -10px;
}
.carousel-control .icon-next, .carousel-control .glyphicon-menu-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-control {
  opacity: 1;
  text-shadow: none;
}
.bottomGallery {
  width: 100%;
  background-color: #243341;
  color: white;
  h4 {
    margin: 0;
    padding: 15px;
  }
}

// INFO

.info {
  background-color: #F5F5F5;
  border-top: 1px #E7E7E7 solid;
  border-bottom: 1px #E7E7E7 solid;
  padding: 10px;
  margin-top: 20px;
  ul {
    font-size: 16px;
    margin-bottom: 0px;
    li {
      margin-right: 20px;
      &:first-child{
      font-family: ProximaNova;
      margin-left: 10px;
      }
    }
  }
  img {
    margin-right: 10px;
  }
}

//DOWNLOADS

.downloads {
  text-align: center;
  clear: both;
  img {
  height: 45px;
  width: auto;
  margin: 20px;
  }
}

button.btn {
  width: 100%;
  background-color: $mvgreen;
  border-radius: 0;
  color: white;
  font-family: $bold;
  font-size: 24px;
  padding: 23px 0;
  margin: 30px 0;
}

// FEATURES

.features {
  p {
    font-family: $bold;
    margin: 10px 0;
  }
  img {
    height: 25px;
    width: auto;
    margin-right: 10px
  }
  li {
    padding: 20px 0;
    border-top: 1px #E9E9E9 solid;
    &:last-child {
      border-bottom: 1px #E9E9E9 solid;
    }
  }
}

// TRANSPORT


.transport {
  >p {
    font-family: $bold;
    margin: 10px 0;
  }
  img {
    height: 25px;
    width: auto;
    margin-right: 10px;
    float: left;
  }
  div {
    p {
      color: #9F9F9F;
      font-size: 12px;
      margin: 0;
    }
  }
  li {
    padding: 15px 0;
    border-top: 1px #E9E9E9 solid;
  }
  .transList {
    position: relative;
  }
  .transTime {
    position: absolute;
    top: 40%;
    right: 40px;
    color: #9F9F9F;
    font-family: $bold;
  }
}


@media (max-width: 767px) {
  .gallery.container {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
  .col-xs-12 {
    float: none;
  }

  .downloads {
    li {
      display: inline-block;
    }
  }

  button.btn {
    max-width: 352px;
  }
  .transport li, .features li {
    display: inline-block;
    width: 49%;
    &:nth-child(even) {
      margin-left: -3px;
    }
  }
  .features li{
    border-bottom: 1px #E9E9E9 solid;
  }
}

